<!doctype html>
<html>
<head>
  <title>Hello AngularJS</title>
</head>

<body ng-app="restaurantApp">
  <div class="container">
    <h1>Welcome in my 'RESTaurant'</h1>
    <div ng-controller="restaurantCtrl">
        <div ng-controller="tableCtrl" ng-repeat="table in tables">
            Table id: {{table.id}}<br/>
            Table capacity: {{table.maxCapacity}}<br/>
            Table requests:<br/>
            <div ng-repeat="tableRequest in table.tableRequests">
                <div ng-if="tableRequest.requestState !== 'FINISHED'">
                    {{tableRequest}}
                    <input type="checkbox" ng-model="tableRequest.partial" ng-change="changePartial(tableRequest)"/>
                    <button ng-click="payRequest(tableRequest)">Pay for request</button>
                </div>
            </div>
            <button ng-click="groupRequests(table)">Group requests</button>
        </div>

        <svgTable/>
    </div>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/restaurant.js"></script>
</body>
</html>
